# dependencies
/node_modules/
/.pnp
.pnp.js

# testing
/coverage/

# production
/build/
/dist/
/out/

# environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env.*          # catch-all, but exclude example below
!.env.example

# misc
.DS_Store
*.log
logs/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# editor settings
.vscode/
.idea/

# OS-specific
Thumbs.db
