@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&display=swap");

body {
  padding-top: 6rem;
  background: linear-gradient(
            to right,
            rgba(26, 1, 1, 0.7) 0%,
            rgba(25, 2, 117, 0.432) 20%,
            rgba(97, 12, 12, 0.5) 80%,
            rgba(32, 2, 2, 0.7) 100%);
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.main-content {
  padding: 2rem;
  padding-bottom: 6rem;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/* Light theme (default) */
body.light {
  background-color: #e09090;
  color: #ffffff;
}

/* Dark theme */
body.dark {
  background-color: #121212;
  color: #f0f0f0cb;
}

.popup {
  background: black;
  padding: 24px; 
  border-Radius: 8px; 
  min-Width: 320px; 
  max-Width: 400px;
  border:rgba(26, 1, 1, 1) 1px solid #dbbf8b;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
a {
  color: #dbbf8b;
  text-decoration: none;
}
a:hover {
  color: #f1dca7;
  text-decoration: underline;
}

/*Button styles */
button {
  background-color: #dbbf8b;
  color: rgba(32, 2, 2, 0.7) 100%;
  border: none;
  padding: 0.2rem 0.5rem;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
  margin: 0.5rem;
}
button:hover {
  background-color: #f1dca7;
  transform: scale(1.05);
}

/* button {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
  cursor: pointer;
  border: 3px solid;
  border-radius: 6px;
  padding: 0.25em 0.5em;
  box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin: 0.5rem;
}

button:active {
  box-shadow: 0px 0px 0px 0px;
  top: 5px;
  left: 5px;
}

@media (min-width: 768px) {
  .button {
    padding: 0.25em 0.75em;
  }
} */