.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  height: 6rem;
  width: 100%;
  background: #004aa0;
  background: linear-gradient(
            to right,
            rgba(26, 1, 1, 1) 0%,
            rgba(25, 2, 117, 1) 20%,
            rgba(97, 12, 12, 1) 80%,
            rgba(32, 2, 2, 1) 100%);
  display: flex;
  justify-content: center;
  z-index: 1000;
  font-family: "Special Elite", system-ui;
}

.footer.visible {
  transform: translateY(100%);
  animation: fadeInFooter 1s ease-in-out forwards;
}

@keyframes fadeInFooter {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateY(0rem);
    opacity: 1;
  }
}

.footer.hidden {
  transform: translateY(6rem);
  animation: fadeOutFooter 1s ease-in-out forwards;
}

@keyframes fadeOutFooter {
  from {
    transform: translateY(0);
    opacity: 1;
  }
  to {
    transform: translateY(6rem);
    opacity: 0;
  }
}

.logo-hypnos {
  color: #dbbf8b;
  position: absolute;
  top: 0.5rem;
  left: 50%;
  transform: translateX(-50%);
  height: 50px;
  width: 50px;
  z-index: 1000;
}
.logo-hypnos:hover {
  color: white;
  transform: translateX(-50%) scale(1.05);
}

.footer-links-left {
    position: absolute;
    top: 1.5rem;
    right: 6rem;
    display: flex;
    gap: 1rem;
}

.footer-links-right {
    position: absolute;
    top: 1.5rem;
    left: 6rem;
    display: flex;
    gap: 1rem;
}
.footer_link a{
    color: #dbbf8b;
    text-decoration: none;
    font-size: 14px;
}
.footer-address {
    position: absolute;
    bottom: 0.1rem;
    color: #dbbf8b;
    font-size: 0.8em;
    text-align: center;
}
.footer-icon {
    height: 1.1rem;
    color: #dbbf8b;
    z-index: 1000;
}
.footer-icon:hover {
    color: #ffffff;
    transform: scale(1.05);
}
@media (max-width: 768px) {
  .logo-hypnos {
    height: 50px;
    width: 50px;
  }
}
