
img {
  float: left;
  width: 25%;  
}

.freescreenform {
  background-color: #004aa0; 
  border: none;
  color: #dbbf8b;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  margin: 10px 2px;
  cursor: pointer;
  font-family: "Special Elite", system-ui;
}

h2{
    text-align: center;
    font-family: "Special Elite", system-ui;
}
