.home-calendar-tiles {
    display: flex;
    gap: 16px;
    justify-content: center;
}
/* style={{ display: 'flex', gap: 16, justifyContent: 'center' }} */
@media screen and (max-width: 1000px) {
    .home-calendar-tiles {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        
        gap: auto;
        justify-items: center;
    }
    
    
}